.mainSection {
    display: grid;
    margin-top: 3em;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 2em;
}

.mainSection_imgCont {
    height: 40em;
    overflow: hidden;
}

.mainCont_img {
    background-position: center;
    background-size: cover;
}

.mainSection_title {
    font-size: 1.8em;
    display: block;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.mainSection_text {
    font-size: 1.3em;
    font-weight: 500;
    display: block;
    margin-bottom: 2em;
}

.mainSection_readMore {
    font-size: 0.75em;
    padding: 1em 0.8em;
    background-color: rgb(33, 32, 31);
    color: white;
    max-width: fit-content;
    position: absolute;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
}