.categories {
    display: grid;
    place-content: center;
    place-items: center;
    margin-top: 1rem;
    padding: 2rem;

}
.categoriesContainer {
    width: 90%;
    display: grid;
    grid-template-columns: 20rem  20rem 20rem;
    gap: 1rem;
}

