.large_image {
    width: 100%;
    height: 90vh;
    background-image: url();
    background-position: center;
    background-size: cover;
    position: relative;
}

.largeImage_container {
    position: absolute;
    top: 65%;
    left: 2%;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.largeImage_text {
    font-size: 1.5em;
    font-weight: 500;
    color: white;
}   

.largeImage_subText {
    color: white;
    margin-bottom: 1em;
    font-weight: 500;
}

.largeImage_shopNow {
    font-size: 0.75em;
    padding: 1em 0.8em;
    background-color: white;
    max-width: fit-content;
    cursor: pointer;
}

@media only screen and (max-width: 758px) {

    .largeImage_container {
        top: 50%;
    }
    .largeImage_text {
        font-size: 1.3em;
    }

    .largeImage_subText {
        font-size: 0.9em;
    }
}