
    .Header {
        z-index: 9999999;
        background-color: white;
        max-height: fit-content;
        width: 100%;
        position: sticky;
        top: 0;
        padding: 0.5em 0;
    }
    

    .mobilePart {
        display: none;
    }
    
    .header_upper {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 1em;
    }
    
    .middle_part {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .right_part {
        padding-top: 0.5em;
        display: flex;
        gap: 1.3em;   
        margin-right: 1em;
    }

    .header_lower {
        display: flex;
        flex-direction: row;
        width: 85%;
        justify-content: space-between;
        margin: auto;
        padding: 1em 0;
    }
    
    
    
    .header_link_item {
        font-weight: 500;
        font-size: 0.9em;
        cursor: pointer;
        transition: 0.2s ease-in;
    }

   
    .header_link_item:hover {
        color: gray;
    }

    .hoverMe {
        transition: all .3s;
        position: relative;
        top: -1em;
    transition: all 1s ease-in;
    }

    
@media only screen and (max-width: 1000px) {
        .header_links {
            gap: 1em;
        }
        
        .header_link_item {
            font-size: 0.7em;
        }
    }

@media only screen and (max-width: 1200px) {
    .header_links {
        gap: 1.2em;
    }
    
    .header_link_item {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 950px) {
    .header_links {
        gap: 0.5em;
    }
    
    .header_link_item {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 758px) {
    .Header{
        padding: 1em 0;
    }
    .header_upper {
        display: none;
    }

    .header_lower {
        display: none;
    }

    .mobilePart {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .emptyspace {
        padding-left: 1em;
    }
    

    .logo_mobile {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .mobile_rightPart {
        display: flex;
        justify-content: flex-end;
        padding-right: 1em;
        gap: 1em;
    }
}